<div class="side-bar">
    <div class="sidebar-header">
        <h1 id="header">Zorex </h1>
    </div>
    <div class="navs">
        <div class="nav">
            <a href="#" nav__link>Propducts<span class="navIcon fa fa-products"></span></a>
        </div>
        <div class="nav">
            <a href="#" nav__link>services<span class="navIcon fa fa-products"></span></a>
        </div>
        <div class="nav">
            <a href="#" nav__link><span class="navIcon fa fa-products"></span></a>
        </div>
        <div class="nav">
            <a href="#" nav__link><span class="navIcon fa fa-products"></span></a>
        </div>
    </div>
</div>