<div class="overlay order-form">
            <div class="cartForm">
                <h3>Add to cart</h3>
                <form method="post">
                    <label for="productName">Product name:</label>
                    <input type="text" name="productName" id="productName">
                    
                    <label for="Address">Address for delivery:</label>
                    <input type="text" name="Address" id="Address">

                    <label for="pnoneNo">phone No:</label>
                    <input type="number" name="phoneNo" id="phoneNo">

                    <button type="submit">Add to cart</button>
                </form>
            </div>
            
        </div>