<link rel="stylesheet" href="./css/cartForm.css">

<div class="main-container">
    
    {{!-- importing the header partials with hbs --}}
    {{> header}}


    <div class="main">
        <div class="body-content products" >
            <div class="product">
                <img src="./img/prod.jpg" alt="product image" class="prod-img"/>
                <p>goodies </p>
                <div id="buttons">
                    <button id="buy"> order</button>
                    <button id="buy"> wishlist &plus;</button>  
                </div>
            </div>
            
        </div>

        
    </div>
</div>


