<div class="main-container">
    {{> header}}
    <div class="main">
        <div class="body-content">
            <h4>Welcome to Zorex</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quam praesentium, minus, nesciunt architecto et, maiores quod magnam aperiam nam voluptatem harum ex! Doloremque, assumenda. Officia non tenetur reprehenderit voluptatum illum ratione pariatur culpa consequuntur doloremque nostrum earum eius libero, magni quasi voluptas sed vero nulla quisquam totam reiciendis!</p>
            <a href="/goodies" class="products-link">view products</a>
        </div>
    </div>
</div>
