<div class="main-container">
    

    {{!-- importing the header partials with hbs --}}
    {{> header}}
    <div class="main">
        <div class=" reg-form">
            <h2>Log in</h2>
            <form  id="form">
                <label for="email">Email</label>
                <div class="input-parent">
                    <input type="text"  name="email" id="email" required>
                </div>
                
                <p class="emailError"></p>
                
                <label for="password">password</label>
                <div class="input-parent">
                    <input  type="password" name="password" id="password" required>
                </div>
                
                <p class="pwdError"> </p>
                
                <button type="submit" class="btn">login</button>
            </form>
        </div>
    </div>
</div>
    <script src="./js/login.js"></script>